.edit-analogy-wrapper-container {
    background-color: rgb(241, 241, 241);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

.login-first {
    font-size: 36px;
    font-weight: 600;
    color: #164b9b;
    padding-top: 40px;
}

@media only screen and (max-width: 978px) {   
    
    .login-first {
        font-size: 30px;
        padding-top: 30px;
    }
}