#create-analogy-container {
    background-color: #ffffff;
    box-shadow: 5px 5px 13px #e0e0e0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
}

.submit-button {
    margin-top: 20px;
}

.story {
    margin-bottom: 10px;
}

.create-analogy-sources {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 978px) {    
    
    #create-analogy-container {
        padding: 10px;
        padding-top: 20px;
        width: 85%;
    }
}