.random-container {
    background-color: rgb(241, 241, 241);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.show-next {
    margin-top: 20px;
}

@media only screen and (max-width: 978px) {    
    
    .random-analogy {
        padding: 10px;
        padding-top: 20px;
    }
  }