.random-container {
    background-color: rgb(241, 241, 241);
    text-align: center;
    height: 100%;
}

.random-analogy {
    padding-top: 40px;
}

.show-next {
    margin-top: 20px;
}

@media only screen and (max-width: 978px) {    
    
    .random-analogy {
        padding-left: 10px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
  }