.navbar-container {
    display: grid;
    grid-template-columns: 0.03fr 0.22fr 0.5fr 0.25fr;
    border-bottom: 4px solid #e7e7e7;
    padding-bottom: 5px;
}

.open-menu {
    padding-bottom: 10px;
    padding-right: 12px;
}

.logo {
    height: 50px;
}

.grid-logo {
    padding-left: 10px;
    padding-top: 5px;
}

.grid-menu {
    padding-left: 10px;
    padding-top: 12px;
}

.right-side {
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: right;
    display: flex;
    justify-content: right;
}

.hello-user {
    color: rgb(43, 43, 43);
    margin-right: 14px;
    margin-top: 22px;
    font-size: 16px;
}

@media only screen and (max-width: 978px) {
    .navbar-container {
        grid-template-columns: 0.03fr 0.22fr 0.3fr 1fr;
    }
    
    .logo {
        height: 30px;
    }

    .grid-logo {
        padding-left: 10px;
        padding-top: 15px;
    }

    .right-side {
        padding-right: 0;
    }
    
    .hello-user {
        margin-right: 10px;
        font-size: 14px;
    }
  }