#display-analogy-container {
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 5px 5px 13px #e0e0e0;
    padding: 10px;
    border-radius: 10px;
}

.display-analogy-unit {
    margin-top: 10px;
}

.top {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.entries {
    display: grid;
    grid-template-columns: 0.22fr 0.23fr 0.04fr 0.3fr 0.18fr;
    padding-top: 5px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.entry-right {
    text-align: left;
    padding-left: 50px;
}

.arrow {
    text-align: center;
}

.border-bottom {
    border-bottom: 1px solid #e0e0e0;
}

.vote-and-comment {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.vote-and-comment-buttons {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    color: #0c6e11;
}

.report-to-admin {
    text-align: right;
    color: #a8a8a8;
    font-size: 12px;
    display: flex;
    margin-top: 10px;
}

.sources {
    text-align: left;
    font-size: 11px;
    padding-top: 13px;
    padding-bottom: 6px;
}

.sources-title {
    color: #868686;
    font-weight: 600;
}

.sources-content {
    color: #646464;
    padding-left: 5px;
}

.comment {
    text-align: left;
    font-size: 11px;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.comment-content {
    color: #646464;
    padding-bottom: 2px;
}

.comment-creator {
    color: #969696;
    font-size: 8px;
    padding-top: 2px;
}

.comments-icon:hover {
    color: #124bb6;
}