#display-dataset-container {
    background-color: rgb(241, 241, 241);
    text-align: center;
    height: 100%;
}

.download-csv {
    padding-top: 20px;
    text-align: right;
}

.filter {
    padding-top: 20px;
}

.filter-by-keywords {
    padding-top: 20px;
}

.download-label {
    color: #888888;
    text-decoration: none;
}

@media only screen and (max-width: 978px) {    
    
    #display-dataset-container {
        padding-left: 10px;
        padding-right: 10px;
    }
  }