#display-dataset-container {
    background-color: rgb(241, 241, 241);
    text-align: center;
    height: 100%;
    margin-bottom: 20px;
}

.download-csv {
    padding-top: 20px;
    text-align: right;
}

.filter {
    padding-top: 5px;
}

.filter-by-keywords {
    padding-top: 20px;
}

.download-label {
    color: #888888;
    text-decoration: none;
}

@media only screen and (max-width: 978px) {   
    .download-csv {
        padding-top: 0;
    }
    
    .filter {
        padding-top: 5px;
    }
    
    .filter-by-keywords {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
  }